.article-card--container{
    background-image: linear-gradient(rgb(50, 50, 50),rgba(245,156,56,255));    
    box-shadow: 0 0  40px  black;
     background-attachment: fixed;
    height: 100%;
    z-index: 0;
}