
.table-container{

  margin: 0;
  padding: 0;
  .search-area{
    margin: 20px 55px;
    .search-label{
      margin: auto 10px;
      color: rgb(30, 30, 30);
    }
    .search-input{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid grey;
      border-radius: 2px;
      transition: border 300ms;
    }
    .search-input:focus{
      border-bottom: 1px solid  rgb(69, 197, 64);
    }
  }
  .plus-btn{
    width: 90%;
    background-color: rgb(69, 197, 64);
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
  }
  .plus-btn:hover{
    opacity: 100%;
  }
  .the-table{

    width: 90%;
    margin: 10px auto;
    .table-head{
      padding: 10px;
      color: rgb(230, 230, 230);
      background-color: rgb(30, 30, 30);
      th{
        padding: 10px 0;
        text-align: center;
      }
    }
    .table-body{
      color: rgb(30, 30, 30);
      .table-row{
        td{
          text-align: center;
        }
        .group-btn{
          width: 100px;
          border: none;
          [class^="btn"]{
            border: none;
            width: 50%;
            height: 40px;
            color: whitesmoke;
            opacity: 80%;
          }
          .btn-edit{
            border-radius: 5px 0px 0px 5px;
            background-color: rgb(77, 133, 245);
          }
          .btn-delete{
            border-radius: 0px 5px 5px 0px;
            background-color: rgb(236, 47, 47);
          }
          [class^="btn"]:hover{
            opacity: 100%;
          }
        }
      }
      .table-row:nth-child(even){
        background-color: rgb(220, 220, 220,);
      }
    }
  }
}
