html{
    margin: 0;
    padding: 0;      
}

.gallery{
    height: 100vh;
}

.slider-item{
    display: flex;
     height: 700px;
     position: relative;
     align-items: center;
     justify-content: center;
}

.slider-image{
    height: 100%;    
}

.btn {
    color: rgba(245,156,56,255);
}

.control-group{
   display: flex; 
   position: absolute;
   align-items: center;
   height: 100%;
   width: 100%;
   
  
   
    .control-right{
        font-size: 25px;
        color: rgba(245,156,56,255);
        position: absolute;    
        right: 0px;  
    }

    .control-left{
        font-size: 25px;
        text-shadow: 0 0 20px black;
        color: rgba(245,156,56,255);
        position: absolute;    
        
    }
}
