<!-- <div class="container-fluid gallery bg-dark my-0 py-0">
    <div class="row">
        <div class="col-10 offset-1">
            <a class="btn btn-dark my-2" routerLink="/">Back home</a>
            <div class="slider d-flex flex-column"> -->
<!-- <div class="slider-item justify-content-center">
                    <img [@slide]="slide1Or2 ? 'slide1' : 'slide2'" [@fade]="slide1Or2 ? 'slide1' : 'slide2'"
                        class="slider-image" id="slide" src="{{(swappedImages$ | async)[num].fullPicture}}"
                        alt="{{image.name}}">
                    <div class="control-group ">
                        <i class="fa fa-chevron-right control-right" (click)="right()"></i>
                        <i class="fa fa-chevron-left control-left" (click)="left()"></i>
                    </div>
                </div> -->

<!-- Probe slider START-->
<div class="container-fluid gallery bg-dark my-0 py-0">
    <div class="row">
        <div class="col-10 offset-1">
            <a class="btn btn-dark my-2" routerLink="/">Back home</a>
            <div class="control-group ">
                <i class="fa fa-chevron-right control-right" (click)="right()"></i>
                <i class="fa fa-chevron-left control-left" (click)="left()"></i>
            </div>
            <div class="img-container" *ngFor="let i of swappedImages$ | async; let select = index;"
                [ngClass]="{'selected': select == selectedIndex}">
                <img src="{{i.fullPicture}}" alt="{{i.name}}">

            </div>

        </div>
    </div>
</div>
<!-- Probe slider END-->

<!-- </div> -->
<!-- <mdb-carousel *ngIf="image" class="slider" [isControls]="true" [animation]="'slide'" [interval]="'false'"
                [noPause]="false">

                <mdb-carousel-item class="slider-item justify-content-center"
                    *ngFor="let item of swappedImages$ | async">
                    <img class="slider-image " src="{{item.fullPicture}}" alt="{{item.name}} slide">
                </mdb-carousel-item>
            </mdb-carousel> -->
<!-- </div>
    </div>
</div> -->