html{
    margin: 0;
    padding: 0;   
}
.gallery{    
    height: 97vh;
}

.slider-item{
     height: 700px;
}

.slider-image{
    height: 100%;    
}

.btn {
    color: rgba(245,156,56,255);
}

.control-group{
    position: relative;
    height: 50vh;
    .control-right{
        color: black;
        position: absolute;
        right: 50px;
    }
    .control-left{
        color: black;
        position: absolute;
        left: 50px;
    }
}
