// html{
//     margin: 0;
//     padding: 0;      
// }

// .gallery{
//     height: 100vh;
// }

// .slider-item{
//     display: flex;
//      height: 700px;
//      position: relative;
//      align-items: center;
//      justify-content: center;
// }

// .slider-image{
//     height: 100%;
//     border-radius: 5px;
//     box-shadow: 0 0 20px rgb(10, 10, 10);        
// }



// .btn {
//     color: rgba(245,156,56,255);
// }

 .control-group{

    display: flex; 
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%; 
    top: 0;
    z-index: 1;
   
     .control-right{
         font-size: 25px;
         color: rgba(245,156,56,255);
         position: absolute;    
         right: 0px;
         opacity: 50%;  
     }

     .control-left{
         font-size: 25px;
        
         color: rgba(245,156,56,255);
         position: absolute;    
         opacity: 50%; 
     }
    
 }
 .control-right:hover {
     cursor: pointer;
     opacity: 100% !important;
 }

 .control-left:hover {
     cursor: pointer;
     opacity: 100% !important;
 }


//Probe slider START
img {
    height: 100%;
  }
  
  .gallery {
    height:100%;
    width: 100%;
    overflow: hidden ;
  } 
  
  .img-container {
    position: absolute;
    left: 0;
    opacity: 0;
    height: 700px !important;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    transition: opacity .3s;  
    z-index: 0;  
  }
  
  
  
  .slide-button:hover, .slide-button-select {
    width: 64px !important;
    background-color: rgba(255,255,255,1) !important;
    pointer-events: none;
    transition: background-color .4s, width 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
  }
  
  
  .slide-button {
    width: 30px;
    height: 4px;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
    position: absolute;
  
  }
  
  .slider {
    position: absolute;
    top: 50%;
    right: 80px;
    opacity: 1;
    min-width: 30px;
  
  }
  
  .slide-button-parent-container {
    position: relative;
    margin: 22px 0;
    min-height: 4px;
  }
  
  .select-box {
    min-height: 10px;
  }
  
  .text-container {
  
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .page-text {
    min-height: 373px;
    width: 50%;
    height: 100%;
    opacity: 0;
    font-weight: 300;
    font-size: 90px;
    color: white;
  }
  
  .selected {
    opacity: 1;
    transition: 1s;
  }
  
  


//Probe slider END