.form-container{
  .b-nav-item{
    list-style: none;
    margin-left: 2px;
  }
  .form{
    width: 500px;
    margin: 20px auto;
    form{
      .input-group{
        display: flex;
        flex-direction: column;
        .input-label{
          margin: 10px 0;
        }
        .input-control{
          border: none;
          border-bottom: 1px solid rgb(200, 200, 200);
          border-radius: 2px;
          transition: border 300ms;
        }
        .input-control:focus{
          border-bottom: 1px solid rgb(69, 197, 64);
        }
      }
      .upload-btn{
        border: none;
        background-color: rgb(69, 197, 64);
        color: rgb(230, 230, 230);
        opacity: 90%;
      }
      .upload-btn:hover{
        opacity: 100%;
        cursor: pointer;
      }
      .submit-btn{
        margin-top: 15px;
        background-color: rgb(77, 133, 245);
        color: whitesmoke;
      }
    }
  }
}
