<div class="form-container">
  <nav>
    <ol fxLayout="row" class="breadcrumb-nav">
      <li class="b-nav-item">
        <a [routerLink]="['/admin/' + 'images']">Photos</a>
      </li>
      <li class="b-nav-item">/</li>
      <li class="b-nav-item">Editor</li>
    </ol>
  </nav>
  <div (click)="image.isOpened = false" class="modal-bg"></div>
  <div *ngIf="image" class="form">
    <form fxLayout="column" [formGroup]="imageForm" (ngSubmit)="onUpdate()">
      <div class="input-group">
        <label class="input-label" for="name">Title</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="input-control"
          [class.error]="imageForm.get('name').invalid && !imageForm.pristine"
        />
        <div *ngIf="imageForm.get('name').invalid && !imageForm.pristine">
          <div
            class="error-message"
            *ngIf="imageForm.get('name').hasError('required')"
          >
            Title is required
          </div>
          <div
            class="error-message"
            *ngIf="imageForm.get('name').hasError('minlength')"
          >
            Title must be 3 characters long at least
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-label" for="description">Description</label>
        <input
          id="description"
          type="text"
          formControlName="description"
          class="input-control"
          [class.error]="
            imageForm.get('description').invalid && !imageForm.pristine
          "
        />
        <div
          *ngIf="imageForm.get('description').invalid && !imageForm.pristine"
        >
          <div
            class="error-message"
            *ngIf="imageForm.get('description').hasError('minlength')"
          >
            Description must be 4 characters long at least
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-label" for="size">Size</label>
        <input
          id="size"
          type="text"
          formControlName="size"
          class="input-control"
          [class.error]="imageForm.get('size').invalid && !imageForm.pristine"
        />
        <div *ngIf="imageForm.get('size').invalid && !imageForm.pristine">
          <div
            class="error-message"
            *ngIf="imageForm.get('size').hasError('pattern')"
          >
            Recommended Format: 16:9 / 4:3 / etc.
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-label" for="type">Technique</label>

        <select
          formControlName="type"
          id="type"
          class="input-control"
          [class.error]="imageForm.get('type').invalid && !imageForm.pristine"
        >
          <option value="Colored">Colored</option>
          <option value="B&W">B&W</option>
        </select>
        <div *ngIf="imageForm.get('type').invalid && !imageForm.pristine">
          <div
            class="error-message"
            *ngIf="imageForm.get('type').hasError('required')"
          >
            You must choose a technique
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-label" for="picture">Preview Image</label>
        <img
          src="{{ image.picture }}"
          alt="{{ image.picture }}"
          style="width: 150px"
        />
        <input
          [hidden]="image"
          id="picture"
          type="text"
          formControlName="picture"
          class="input-control"
          readonly
        />
        <div *ngIf="imageForm.get('picture').invalid && !imageForm.pristine">
          <div
            class="error-message"
            *ngIf="imageForm.get('picture').hasError('required')"
          >
            You must upload an image
          </div>
        </div>
      </div>
      <div>
        <ngx-photo-editor
          [imageChanedEvent]="imageChangedEvent"
          (imageCropped)="imageCropped($event)"
          [aspectRatio]="4 / 4"
          [viewMode]="3"
          [resizeToWidth]="500"
          [imageQuality]="20"
        ></ngx-photo-editor>

        <img [src]="base64" alt="" />

        <div *ngIf="currentPhoto" class="progress">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ percentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: percentage + '%' }"
          >
            {{ percentage }}%
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-label" for="fullPicture">Full Image</label>
        <img
          src="{{ image.fullPicture }}"
          alt="{{ image.fullPicture }}"
          style="width: 200px"
        />
        <input
          [hidden]="image"
          id="fullPicture"
          type="text"
          formControlName="fullPicture"
          class="input-control"
          readonly
        />
        <div
          *ngIf="imageForm.get('fullPicture').invalid && !imageForm.pristine"
        >
          <div
            class="error-message"
            *ngIf="imageForm.get('fullPicture').hasError('required')"
          >
            You must upload an image
          </div>
        </div>
      </div>
      <div>
        <!-- <label class="file-input">
          <input
            type="file"
            class="text-nowrap text-truncate"
            (change)="selectFullFile($event)"
          />
        </label> -->
        <label class="file-input">
          <input type="file" (change)="fileChangeEvent($event)" />
        </label>
        <button
          mat-button
          class="upload-btn"
          [disabled]="!selectedFullFiles && !selectedFiles"
          (click)="upload()"
        >
          Upload
        </button>

        <div *ngIf="currentFullPhoto" class="progress">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ fullPercentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: fullPercentage + '%' }"
          >
            {{ fullPercentage }}%
          </div>
        </div>
      </div>
      <button
        [disabled]="!imageForm.valid || submitted"
        mat-flat-button
        type="submit"
        class="submit-btn"
      >
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
