<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin/'+ 'images']">Photos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editor</li>
            </ol>
        </nav>
        <div *ngIf="image" class="col-6 offset-3">
            <form #imageForm="ngForm" (ngSubmit)="onUpdate(imageForm, image)">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input name="name" type="text" [(ngModel)]="image.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input name="description" type="text" [(ngModel)]="image.description" class="form-control">
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <input name="size" type="text" [(ngModel)]="image.size" class="form-control">
                </div>
                <div class="form-group">
                    <label for="type">Technique</label>
                    <input name="type" type="text" [(ngModel)]="image.type" class="form-control">
                </div>
                <div class="form-group">
                    <label class="mr-5" for="picture">Preview Image</label>
                    <img src="{{image.picture}}" alt="{{image.picture}}" style="width: 200px;">
                    <input [hidden]="image" name="picture" type="text" [(ngModel)]="image.picture" class="form-control"
                        readonly>
                </div>
                <div>
                    <!-- <label>
                        <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />

                    </label> -->
                    <!-- for cropper -->
                    <label>
                        <input type="file" (change)="fileChangeEvent($event)" />
                    </label>

                    <ngx-photo-editor [imageChanedEvent]="imageChangedEvent" (imageCropped)="imageCropped($event)"
                        [aspectRatio]="4/4" [viewMode]="3" [resizeToWidth]="500" [imageQuality]="20"></ngx-photo-editor>

                    <img [src]="base64" alt="">
                    <!-- <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                        Upload
                    </button> -->

                    <div *ngIf="currentPhoto" class="progress mt-2">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                            attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{ width: percentage + '%' }">
                            {{ percentage }}%
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="mr-5" for="fullPicture">Full Image</label>
                    <img src="{{image.fullPicture}}" alt="{{image.fullPicture}}" style="width: 200px;">
                    <input [hidden]="image" name="fullPicture" type="text" [(ngModel)]="image.fullPicture"
                        class="form-control" readonly>
                </div>
                <div>
                    <label>
                        <input type="file" class="text-nowrap text-truncate" (change)="selectFullFile($event)" />
                    </label>

                    <button class="btn btn-success btn-sm" [disabled]="!selectedFullFiles && !selectedFiles"
                        (click)="upload()">
                        Upload
                    </button>

                    <div *ngIf="currentFullPhoto" class="progress mt-2">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                            attr.aria-valuenow="{{ fullPercentage }}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{ width: fullPercentage + '%' }">
                            {{ fullPercentage }}%
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info col">
                    <i class="fa fa-save"></i>
                </button>
            </form>
        </div>
    </div>
</div>