.cards{
    
    color: whitesmoke;
    height: 500px;
    
}

.img-container{
    background-color: transparent;
    width: 90%;
}
img{
    width: 100%;    
    box-shadow: 0 0 20px black;
}


    

