<div class="container">
    <div class="row">
        <div>
            <button [routerLink]="[0]" class="btn btn-success col"><i class="fa fa-plus"></i></button>
            <table class="table table-striped">
                <thead class="bg-dark text-white">
                    <th>Név</th>
                    <th>Leírás</th>
                    <th>Méret</th>
                    <th>Típus</th>
                    <th>Kép</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let painting of list$ | async">
                        <td>{{painting.name}}</td>
                        <td>{{painting.description}}</td>
                        <td>{{painting.size}}</td>
                        <td>{{painting.type}}</td>
                        <td><img src="{{painting.picture}}" alt="" style="width: 140px;"></td>
                        <td>
                            <div class="btn-group">
                                <button [routerLink]="[painting.id]" class="btn btn-info" type="submit">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button (click)="onDelete(painting)" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>