<div fxLayout="column" class="table-container">
  <div fxLayout="row" class="search-area">
    <label class="search-label">Search</label>
    <input
      matInput
      type="text"
      class="search-input"
      (keyup)="filterTable($event.target.value)"
    />
  </div>

  <button mat-flat-button (click)="article.isOpened = true" class="plus-btn">
    <i class="fa fa-plus"></i>
  </button>
  <app-article-edit
    *ngIf="article"
    class="pop-up"
    [class.popped]="article.isOpened == true"
    [article]="article"
  ></app-article-edit>
  <table class="the-table" mat-table [dataSource]="dataSource">
    <ng-container
      [matColumnDef]="column"
      *ngFor="let column of displayedColumns"
    >
      <th class="table-head" mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <div *ngIf="column != 'photo' && column != 'edit'">
        <td mat-cell *matCellDef="let article">
          {{ article[column] }}
        </td>
      </div>
      <div *ngIf="column == 'photo'">
        <td class="table-row" mat-cell *matCellDef="let article">
          <img
            class="list-img"
            src="{{ article[column] }}"
            alt="{{ article.title }}"
          />
        </td>
      </div>
      <div *ngIf="column == 'edit'">
        <td mat-cell *matCellDef="let article">
          <app-article-edit
            class="pop-up"
            [class.popped]="article.isOpened == true"
            [article]="article"
          ></app-article-edit>
          <div class="group-btn">
            <button (click)="article.isOpened = true" class="btn-edit">
              <i class="fa fa-pencil"></i>
            </button>
            <button [matMenuTriggerFor]="sure" class="btn-delete">
              <i class="fa fa-trash"></i>
            </button>
            <mat-menu #sure="matMenu">
              <p class="sure">Are you sure?</p>
              <button mat-menu-item (click)="onDelete(article)">Yes</button>
              <button mat-menu-item>No</button>
            </mat-menu>
          </div>
        </td>
      </div>
    </ng-container>
    <tr
      class="table-head"
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      class="table-row"
      mat-row
      *matRowDef="let articleRow; columns: displayedColumns"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[3, 5, 8]"
    showFirstLastButtons
  ></mat-paginator>
</div>
