<mat-drawer-container class="admin-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <nav class="top-nav">
      <ul class="top-nav-navbar">
        <div class="d-flex align-items-center justify-content-center">
          <img
            class="historian mx-auto"
            src="/assets/img/logos/historian-narancssárga.png"
            alt="historian"
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <li class="item-nav">
          <a class="link-nav" mat-button routerLink="images"> Photos </a>
        </li>
        <li class="item-nav">
          <a class="link-nav" mat-button routerLink="articles"> Articles </a>
        </li>
      </ul>

      <button
        class="nav-toggle"
        type="button"
        mat-button
        (click)="drawer.toggle()"
      >
        <mat-icon>reorder</mat-icon>
      </button>
    </nav>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!-- <link rel="stylesheet" href="/assets/css/material-dashboard.min.css">
<div class="wrapper ">
    <app-side-nav></app-side-nav>
    <div class="main-panel">
        <app-admin-nav></app-admin-nav>
        <div class="content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-admin-footer></app-admin-footer>
    </div>
</div> -->
