.top-nav{
  position: fixed;
  width: 100%;
  z-index: 1;
  .top-nav-navbar{
    display: none;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 20px black;
    height: 57px;
    z-index: 1;
    .item-nav{
      text-decoration: none;
      list-style: none;
      .link-nav{
        text-decoration: none;
        color: rgba(245,156,56,255);
      }
    }
  }
  .nav-toggle{
    padding: 10px 0;
    // background-color: rgba(30, 30, 30, 0.8);
    color: rgba(245,156,56,255);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
.historian{
  position:absolute;
  top: 15px;
  left: 15px;
  width: 90px;
}

@media screen and (min-width: 1200px){
  .top-nav-navbar{
    display: flex !important;
    flex-direction: row;
  }
  .nav-toggle{
    display: none;
  }
}
