<div class="login-container">
  <form
    fxLayout="column"
    class="login"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="login-title">Login</h3>
    <div fxLayout="column" class="input-group">
      <label class="input-label" for="email"> Email: </label>
      <input
        class="input-control"
        id="email"
        type="email"
        formControlName="email"
      />
    </div>
    <div fxLayout="column" class="input-group">
      <label class="input-label" for="password"> Password: </label>
      <input
        class="input-control"
        id="password"
        type="password"
        formControlName="password"
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
