<!-- <div class="container mx-0 px-0 mx-sm-auto px-sm-auto">
    <div class="row col col-lg-8 item-card--container mx-0 px-0 mx-sm-auto">
        <h2 class="text-center my-4 text-white">Gallery</h2>
        <app-item-card class="col-12 col-md-6 col-lg-4" *ngFor="let image of images$ | async" [image]="image">
        </app-item-card>
    </div>
</div> -->
<div  class="item-card--container">
  <h2 class="gallery-title">Gallery</h2>
    <div fxLayout="row wrap" >
        <app-item-card fxFlex="30.5"  class="image-card" *ngFor="let image of images$ | async" [image]="image">
        </app-item-card>
    </div>
</div>

