.item-card--container {
    background-image:url(/assets/img/patterns/bg-pattern.png), linear-gradient(rgba(245,156,56,255),rgb(50, 50, 50) );
    background-attachment: fixed;
    height: 100%;
    box-shadow: 0 0 20px black;
}