<div *ngIf="article" fxLayout="column" class="article-card">
  <div class="art-img-container">
    <img
      class="article-img"
      src="{{ article.photo }}"
      alt="{{ article.title }}"
    />
  </div>
  <div class="article-title">
    <h3>{{ article.title }}</h3>
  </div>
  <div class="article-abstract">
    <p>{{ article.abstract }}</p>
    <br />
  </div>
  <a class="readm-btn" href="{{ article.link }}" target="_blank">read-more</a>
</div>
<!-- <div *ngIf="article" class="d-flex flex-column cards">
    <div class="img-container mx-auto mt-5"><img src="{{article.photo}}" alt="{{article.title}}"></div>
    <div class="article-title text-center">
        <h1 class="h3 mx-auto mt-3">{{article.title}}</h1>
    </div>
    <div class="article-abstract text-center  mb-5">{{article.abstract}} <br>
        <<a href="{{article.link}}" target="_blank">read-more</a>>
    </div>

</div> -->
