/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

//Styles for Home and Admin
html {
  margin: 0;
  padding: 0;
}
.top-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  .top-nav-navbar {
    display: none;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 20px black;
    height: 57px;
    z-index: 1;
    .item-nav {
      text-decoration: none;
      list-style: none;
      .link-nav {
        text-decoration: none;
        color: rgba(245, 156, 56, 255);
      }
    }
  }
  .nav-toggle {
    padding: 10px 0;
    // background-color: rgba(30, 30, 30, 0.8);
    color: rgba(245, 156, 56, 255);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
.sidenav-drawer {
  position: fixed !important;
  width: 180px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(30, 30, 30, 0.8);
  box-shadow: 0 0 20px rgb(10, 10, 10);
  .side-nav {
    display: flex;
    flex-direction: column;
    .side-item {
      margin-top: 30px;
      list-style: none;
      .side-link {
        text-decoration: none;
        // color: rgb(50, 50, 50);
        color: rgba(245, 156, 56, 255);
      }
    }
  }
}

[class^="historian"] {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90px;
}
//Styles for Home

.historian-side {
  left: 42px;
}

.admin-link {
  display: none;
}

.header {
  height: 400px;
  width: 100%;
  background-image: url(/assets/img/őzbak.jpg);
  background-size: 700px;
  background-position: center;
  // background-attachment: fixed;
  box-shadow: 0 0 40px black;
  z-index: 1;
}

.h-logo {
  width: 50%;
  position: absolute;
}

.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: rgb(33, 33, 33);
  top: 348px;
  width: 100px;
  height: 100px;
  right: 20px;
  border-radius: 100px;
  box-shadow: 0 0 40px black;
}

.main {
  background-image: url(/assets/img/tűzfa.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.card-container {
  position: relative;
  z-index: 0 !important;
}

.about {
  background-color: rgb(50, 50, 50);
  box-shadow: 0 0 40px black;
  height: 370px;
  width: 100%;
  z-index: 0;
  position: relative;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  text-shadow: 0 0 20px black;
  margin: 20px 0 20px 12px;
}

.about-desc {
  margin-left: 12px;
}

.ring {
  position: absolute;
  top: -45px;
  left: 450px;
  width: 80px;
}
.ring2 {
  position: absolute;
  top: -45px;
  left: 300px;
  width: 80px;
}

.myself {
  display: none;
  position: absolute;
  border-radius: 150px;
  top: -30px;
  right: 30px;
  box-shadow: 0 0 20px black;
}

.article-container {
  position: relative;
  z-index: 0 !important;
}

.contact {
  background-color: rgb(50, 50, 50);
  box-shadow: 0 0 40px black;
  height: 290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  position: relative;
  .contact-title {
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
  }
  .contact-icon-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.linkedin-con {
  background-color: rgb(29, 161, 243);
  color: whitesmoke;
  width: 80px;
  height: 80px;
  opacity: 90%;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(10, 10, 10);
}

.facebook-con {
  background-color: rgb(59, 89, 153);
  color: whitesmoke;
  width: 80px;
  height: 80px;
  opacity: 90%;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(10, 10, 10);
}
.instagram-con {
  background-image: linear-gradient(rgb(182, 0, 0), rgb(169, 93, 172));
  color: whitesmoke;
  width: 80px;
  height: 80px;
  opacity: 90%;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(10, 10, 10);
}
[class$="-con"]:hover {
  opacity: 100%;
}

.footer {
  display: flex;
  background-color: rgb(50, 50, 50);
  margin: 0;
  height: 55px;
  align-items: center;
  color: whitesmoke;
  z-index: 1;
  box-shadow: 0 0 20px black;
}
//Styles for Article Card Container
.article-card--container {
  background-image: linear-gradient(rgb(50, 50, 50), rgba(245, 156, 56, 255));
  box-shadow: 0 0 40px black;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  .articles-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: whitesmoke;
  }
}
//Styles for Article Card
.article-card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(30, 30, 30);
  color: whitesmoke;
  height: 500px;
  align-items: center;
  padding: 10px 0 10px 0;
  .img-container {
    background-color: transparent;
    height: 200px;
    width: 90%;
    img {
      width: 100%;
      box-shadow: 0 0 20px black;
    }
  }
  .article-title {
    text-align: center;
    font-size: 1px;
    margin: 10px 0px;
  }
  .article-abstract {
    height: 200px;
    text-align: center;
    overflow: hidden;
  }
  .readm-btn {
    color: rgba(245, 156, 56, 255);
    margin-top: auto;
    text-decoration: none;
    background-color: rgb(50, 50, 50);
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 90%;
    padding: 5px 5px;
    transition: background-color 200ms;
  }
  .readm-btn:hover {
    opacity: 100%;
    background-color: rgb(30, 30, 30);
  }
}

//Style for Admin
.side-img {
  display: none;
  position: fixed;
  top: 0;
  opacity: 20%;
  box-shadow: 0 0 90px black;
}
.sidenav-bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 10% !important;
}
.log-out {
  display: none;
  position: absolute;
  right: 10px;
}

//Style for Tables
.table-container {
  width: 100vw;
  margin: 60px 0;
  padding: 0;
  .search-area {
    margin: 20px 10px;
    .search-label {
      margin: auto 10px;
      color: rgb(30, 30, 30);
    }
    .search-input {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid grey;
      border-radius: 2px;
      transition: border 300ms;
    }
    .search-input:focus {
      border-bottom: 1px solid rgb(69, 197, 64);
    }
  }
  .plus-btn {
    width: 100%;
    background-color: rgb(69, 197, 64);
    color: whitesmoke;
    margin: 0 auto;
    opacity: 80%;
  }
  .plus-btn:hover {
    opacity: 100%;
  }
  .the-table {
    width: 100%;
    margin: 10px auto;
    .table-head {
      padding: 10px;
      color: rgb(230, 230, 230);
      background-color: rgb(30, 30, 30);
      th {
        padding: 10px 0;
        text-align: center;
      }
    }
    .table-body {
      color: rgb(30, 30, 30);
      overflow: hidden;
      .table-row {
        overflow: hidden;
        td {
          text-align: center;
          overflow: hidden !important;
        }
        .group-btn {
          width: 100px;
          border: none;
          [class^="btn"] {
            border: none;
            width: 50%;
            height: 40px;
            color: whitesmoke;
            opacity: 80%;
          }
          .btn-edit {
            border-radius: 5px 0px 0px 5px;
            background-color: rgb(77, 133, 245);
          }
          .btn-delete {
            border-radius: 0px 5px 5px 0px;
            background-color: rgb(236, 47, 47);
          }
          [class^="btn"]:hover {
            opacity: 100%;
          }
        }
      }
      .table-row:nth-child(even) {
        background-color: rgb(220, 220, 220);
      }
    }
  }
}

//Style for Forms

.form-container {
  width: 96vw;
  margin: 60px 0;
  padding: 0;
  .b-nav-item {
    list-style: none;
    margin-left: 2px;
    a {
      text-decoration: none;
    }
  }
  .form {
    width: 500px;
    margin: 20px auto;
    form {
      .input-group {
        display: flex;
        flex-direction: column;
        .input-label {
          margin: 10px 0;
        }
        .input-control {
          max-width: 450px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgb(200, 200, 200);
          border-radius: 2px;
          transition: border 300ms;
        }
        .input-control:focus {
          border-bottom: 1px solid rgb(69, 197, 64);
        }
      }
      .upload-btn {
        border: none;
        background-color: rgb(69, 197, 64);
        color: rgb(230, 230, 230);
        opacity: 90%;
      }
      .upload-btn:hover {
        opacity: 100%;
        cursor: pointer;
      }
      .submit-btn {
        max-width: 450px;
        margin-top: 15px;
        background-color: rgb(77, 133, 245);
        color: whitesmoke;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  //Styles for Home
  .header {
    background-size: 100%;
  }
  .logo-container {
    top: 325px;
    width: 150px;
    height: 150px;
    right: 50px;
  }
  .about {
    height: 340px;
    width: 710px;
  }
  .myself {
    display: initial;
    width: 130px;
  }
  .contact {
    width: 710px;
    .contact-icon-container {
      margin-top: 40px;
    }
  }
  .linkedin-con {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  .facebook-con {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  .instagram-con {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  //Styles for Article Card Container
  .article-card--container {
    width: 710px;
    .article-card {
      margin: 17.5px;
    }
  }
}

@media screen and (min-width: 960px) {
  //Styles for Home
  .admin-link {
    display: block;
    position: absolute;
    right: 10px;
  }

  .historian {
    width: 80px;
  }
  .logo-container {
    top: 300px;
    width: 200px;
    height: 200px;
    right: 70px;
  }

  .about {
    width: 800px;
    .myself {
      width: 190px;
    }
  }
  .contact {
    width: 800px;
  }
  .linkedin-con {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .facebook-con {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .instagram-con {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  //Styles for Article Card Container
  .article-card--container {
    width: 800px;
    .article-card {
      margin: 11px;
    }
  }
}

@media screen and (min-width: 1200px) {
  //Styles for Home and Admin
  .top-nav-navbar {
    display: flex !important;
    flex-direction: row;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidenav-drawer {
    display: none !important;
  }
  //Styles for Home
  .header {
    background-position-y: 710px;
  }
  .about {
    width: 880px;
    .myself {
      width: 230px;
    }
  }
  .contact {
    width: 880px;
  }
  //Styles for Article Card Container
  .article-card--container {
    width: 880px;
    .article-card {
      margin: 12.3px;
    }
  }
  //Styles for Admin
  .side-img {
    display: flex;
  }
  .log-out {
    display: block;
  }
  //Style for Tables
  .table-container {
    width: 70vw;
    margin: 100px 30px 0 0 !important;
    margin-top: 60px;
    padding: 0;
  }
  //Style for Forms
  .form-container {
    width: 70vw;
    margin: 70px 0;
    padding: 0;
  }
}
