@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
@import "/src/assets/scss/variables/shadows";

//Styles for Home and Admin
html {
  margin: 0;
  padding: 0;
}
.top-nav {
  font-family: $nav-font;
  position: fixed;
  width: 100%;
  z-index: 1;
  .top-nav-navbar {
    display: none;
    align-items: center;
    background-color: $nav-bg-color;
    box-shadow: $secondary-shadow;
    height: 57px;
    z-index: 1;
    [class$="nav"] {
      text-decoration: none;
    }
    .item-nav {
      list-style: none;
      margin-left: 20px;
      .link-nav {
        color: $main-orange;
      }
    }
  }
  .nav-toggle {
    padding: 10px 0;
    color: $main-orange;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
.sidenav-drawer {
  position: fixed !important;
  font-family: $nav-font;
  width: 180px;
  padding: 20px;
  overflow: hidden;
  background-color: $nav-bg-color;
  box-shadow: $secondary-shadow;
  .side-nav {
    display: flex;
    flex-direction: column;
    .side-item {
      margin-top: 30px;
      list-style: none;
      .side-link {
        text-decoration: none;
        color: $main-orange;
      }
    }
  }
}

[class^="historian"] {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90px;
}
//Styles for Home

.historian-side {
  left: 42px;
}

.admin-link {
  display: none;
  position: absolute;
  right: 10px;
}

.header {
  height: 400px;
  width: 100%;
  background-image: url(/assets/img/őzbak.jpg);
  background-size: 700px;
  background-position: center;
  // background-attachment: fixed;
  box-shadow: $primary-shadow;
  z-index: 1;
}

.h-logo {
  width: 50%;
  position: absolute;
}

.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: $secondary-gray;
  top: 348px;
  width: 100px;
  height: 100px;
  right: 20px;
  border-radius: 100px;
  box-shadow: $primary-shadow;
}

.main {
  background-image: url(/assets/img/tűzfa.jpg);
  background-size: 100%;
  background-attachment: fixed;
  font-family: $main-font;
}

.card-container {
  position: relative;
  z-index: 0 !important;
}

.about {
  background-color: $main-gray;
  box-shadow: $primary-shadow;
  height: 370px;
  width: 100%;
  z-index: 0;
  position: relative;
  color: $text-white;
  margin: 0 auto;
}

.about-title {
  text-shadow: $secondary-shadow;
  margin: 20px 0 20px 12px;
}

.about-desc {
  margin-left: 12px;
}

.ring {
  position: absolute;
  top: -45px;
  left: 450px;
  width: 80px;
}
.ring2 {
  position: absolute;
  top: -45px;
  left: 300px;
  width: 80px;
}

.myself {
  display: none;
  position: absolute;
  border-radius: 150px;
  top: -30px;
  right: 30px;
  box-shadow: $secondary-shadow;
}

.article-container {
  position: relative;
  z-index: 0 !important;
}

.contact {
  background-color: $main-gray;
  box-shadow: $primary-shadow;
  height: 290px;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  .contact-title {
    color: $text-white;
    text-align: center;
    padding-top: 20px;
  }
  [class^="contact-icon"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon-container {
    margin-top: 60px;
  }
}

[class$="-con"] {
  color: $text-white !important;
  width: 80px;
  height: 80px;
  opacity: 90%;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  border-radius: 10px;
  box-shadow: $secondary-shadow;
}
.linkedin-con {
  background-color: rgb(29, 161, 243);
}
.facebook-con {
  background-color: rgb(59, 89, 153);
}
.instagram-con {
  background-image: linear-gradient(rgb(182, 0, 0), rgb(169, 93, 172));
}

[class$="-con"]:hover {
  opacity: 100%;
}

.footer {
  display: flex;
  background-color: $main-gray;
  font-family: $secondary-font;
  margin: 0;
  height: 55px;
  align-items: center;
  color: $text-white;
  z-index: 1;
  box-shadow: $secondary-shadow;
}
//Styles for Image Card Container
.item-card--container {
  background-image: linear-gradient($main-orange, $main-gray);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-shadow: $secondary-shadow;
  [class^="gallery-"] {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: $text-white;
  }
  .image-card {
    margin: 12px;
  }
}
//Styles for Image Card
.card-img {
  width: 100%;
  box-shadow: $secondary-shadow;
}

.cards {
  border: none;
  background-color: transparent;
  color: $text-white;
}
.card-header {
  background-color: transparent;
  border: none;
}
//Styles for Article Card Container
.article-card--container {
  background-image: linear-gradient($main-gray, $main-orange);
  box-shadow: $primary-shadow;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  .article-cards {
    margin: 0 auto;
  }
  .articles-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: $text-white;
  }
}
//Styles for Article Card
.article-card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 20px $secondary-gray;
  color: $text-white;
  height: 500px;
  align-items: center;
  padding: 10px 0 10px 0;
  .art-img-container {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 90%;
    .article-img {
      max-height: 150px;
      box-shadow: $secondary-shadow;
    }
  }
  .article-title {
    text-align: center;
    font-size: 1px;
    margin: 10px 0px;
  }
  .article-abstract {
    height: 150px;
    text-align: center;
    overflow: hidden;
  }
  .readm-btn {
    color: $main-orange;
    margin-top: auto;
    text-decoration: none;
    background-color: $main-gray;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 90%;
    padding: 5px 5px;
    transition: background-color 200ms;
  }
  .readm-btn:hover {
    opacity: 100%;
    background-color: $secondary-gray;
  }
}

//Styles for Image Viewer
.image-viewer {
  height: 100vh;
  width: 100vw;
  align-items: center;
  overflow: hidden;
  background-color: $main-gray;
  .home-btn {
    color: $main-orange;
    margin: 10px 0;
    padding: 5px 5px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 90%;
    transition: background-color 200ms;
  }
  .home-btn:hover {
    opacity: 100%;
    background-color: $secondary-gray;
  }
  .viewer {
    width: 80%;
    justify-content: center;
    position: relative;
  }
}
.img-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 700px !important;
  background-color: transparent;
  will-change: opacity;
  transition: opacity 0.3s;
  z-index: 0;
  .viewer-img {
    width: 100%;
    border-radius: 7px;
    box-shadow: $secondary-shadow;
  }
}
.control-group {
  display: flex;
  position: relative;
  margin-top: 240px;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

[class$="arrow"] {
  font-size: 25px;
  color: $main-orange;
  position: absolute;
  opacity: 50%;
}
.right-arrow {
  padding: 400px 20px 400px 100px;
  right: 0px;
}

.left-arrow {
  padding: 400px 100px 400px 20px;
}

[class$="arrow"]:hover {
  cursor: pointer;
  opacity: 100% !important;
}

.selected {
  opacity: 1;
  transition: 1s;
}

//Style for Admin
.side-img {
  display: none;
  position: fixed;
  top: 0;
  opacity: 20%;
  box-shadow: 0 0 90px black;
}
.admin-sidenav {
  background-color: rgba(250, 250, 250, 0.7);
}
.sidenav-bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 20% !important;
}
.log-out {
  display: none;
  position: absolute;
  right: 10px;
}

//Style for Tables
.table-container {
  font-family: $secondary-font;
  width: 100vw;
  margin: 60px 0;
  padding: 0;
  .search-area {
    margin: 20px 10px;
    .search-label {
      margin: auto 10px;
      color: $secondary-gray;
    }
    .search-input {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid grey;
      border-radius: 2px;
      transition: border 300ms;
    }
    .search-input:focus {
      border-bottom: 1px solid $main-green;
    }
  }
  .plus-btn {
    width: 100%;
    background-color: $main-green;
    color: $text-white;
    margin: 0 auto;
    opacity: 80%;
  }
  .plus-btn:hover {
    opacity: 100%;
  }
  .the-table {
    width: 100%;
    margin: 10px auto;
    .table-head {
      padding: 10px;
      color: $text-white;
      background-color: $secondary-gray;
      th {
        padding: 10px 0;
        text-align: center;
      }
    }
    .table-body {
      color: $secondary-gray;
      overflow: hidden;
      .table-row {
        overflow: hidden;
        td {
          text-align: center;
          overflow: hidden !important;
        }
        .group-btn {
          width: 100px;
          border: none;
          [class^="btn"] {
            border: none;
            width: 50%;
            height: 40px;
            color: $text-white;
            opacity: 80%;
          }
          .btn-edit {
            border-radius: 5px 0px 0px 5px;
            background-color: $edit-blue;
          }
          .btn-delete {
            border-radius: 0px 5px 5px 0px;
            background-color: rgb(236, 47, 47);
          }
          [class^="btn"]:hover {
            opacity: 100%;
          }
        }
      }
      .table-row:nth-child(even) {
        background-color: $text-white;
      }
    }
  }
}

//Style for Forms

.form-container {
  font-family: $secondary-font;
  width: 96vw;
  margin: 60px 0;
  padding: 0;
  .b-nav-item {
    list-style: none;
    margin-left: 2px;
    a {
      text-decoration: none;
    }
  }
  .form {
    width: 500px;
    margin: 20px auto;
    form {
      .input-group {
        display: flex;
        flex-direction: column;
        .input-label {
          margin: 10px 0;
        }
        .input-control {
          max-width: 450px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgb(200, 200, 200);
          border-radius: 2px;
          transition: border 300ms;
        }
        .input-control:focus {
          border-bottom: 1px solid $main-green;
        }
      }
      .upload-btn {
        border: none;
        background-color: $main-green;
        color: $text-white;
        opacity: 90%;
      }
      .upload-btn:hover {
        opacity: 100%;
        cursor: pointer;
      }
      .submit-btn {
        max-width: 450px;
        margin-top: 15px;
        background-color: $edit-blue;
        color: $text-white;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  //Styles for Home
  .header {
    background-size: 100%;
  }
  .logo-container {
    top: 325px;
    width: 150px;
    height: 150px;
    right: 50px;
  }
  .about {
    height: 340px;
    width: 710px;
  }
  .myself {
    display: initial;
    width: 130px;
  }
  .contact {
    width: 710px;
    .contact-icon-container {
      margin-top: 40px;
    }
  }
  [class$="-con"] {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  //Styles for Image Card Container
  .item-card--container {
    width: 710px;
    .image-card {
      margin: 17.5px;
    }
  }
  //Styles for Article Card Container
  .article-card--container {
    width: 710px;
    .article-card {
      margin: 17.5px;
    }
  }
}

@media screen and (min-width: 960px) {
  //Styles for Home
  .admin-link {
    display: block;
  }

  .historian {
    width: 80px;
  }
  .logo-container {
    top: 300px;
    width: 200px;
    height: 200px;
    right: 70px;
  }

  .about {
    width: 800px;
    .myself {
      width: 190px;
    }
  }
  .contact {
    width: 800px;
  }

  [class$="-con"] {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  //Styles for Image Card Container
  .item-card--container {
    width: 800px;
    .image-card {
      margin: 11px;
    }
  }
  //Styles for Article Card Container
  .article-card--container {
    width: 800px;
    .article-card {
      margin: 11px;
    }
  }
  //Styles for Article Card
  .article-img {
    width: 100%;
    max-height: auto !important;
  }
}

@media screen and (min-width: 1200px) {
  //Styles for Home and Admin
  .top-nav-navbar {
    display: flex !important;
    flex-direction: row;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidenav-drawer {
    display: none !important;
  }
  //Styles for Home
  .header {
    background-position-y: 710px;
  }
  .about {
    width: 880px;
    .myself {
      width: 230px;
    }
  }
  .contact {
    width: 880px;
  }
  //Styles for Image Card Container
  .item-card--container {
    width: 880px;
    .image-card {
      margin: 12.3px;
    }
  }
  //Styles for Article Card Container
  .article-card--container {
    width: 880px;
    .article-card {
      margin: 12.3px;
    }
  }
  //Styles for Image Viewer
  .viewer-img {
    height: 100%;
    width: auto !important;
  }
  //Styles for Admin
  .side-img {
    display: flex;
  }
  .log-out {
    display: block;
  }
  //Style for Tables
  .table-container {
    width: 70vw;
    margin: 100px 30px 0 0 !important;
    margin-top: 60px;
    padding: 0;
  }
  //Style for Forms
  .form-container {
    width: 70vw;
    margin: 70px 0;
    padding: 0;
  }
}
