@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
@import "/src/assets/scss/variables/shadows";

//Styles for Home and Admin
html {
  margin: 0;
  padding: 0;
}
.top-nav {
  font-family: $nav-font;
  position: fixed;
  width: 100%;
  z-index: 1;
  .top-nav-navbar {
    display: none;
    align-items: center;
    background-color: $nav-bg-color;
    box-shadow: $secondary-shadow;
    height: 57px;
    z-index: 1;
    [class$="nav"] {
      text-decoration: none;
    }
    .item-nav {
      list-style: none;
      margin-left: 20px;
      .link-nav {
        color: $main-orange;
      }
    }
  }
  .nav-toggle {
    padding: 10px 0;
    color: $main-orange;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
.sidenav-drawer {
  position: fixed !important;
  font-family: $nav-font;
  width: 180px;
  padding: 20px;
  overflow: hidden;
  background-color: $nav-bg-color;
  box-shadow: $secondary-shadow;
  .side-nav {
    display: flex;
    flex-direction: column;
    .side-item {
      margin-top: 30px;
      list-style: none;
      .side-link {
        text-decoration: none;
        color: $main-orange;
      }
    }
  }
}

[class^="historian"] {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90px;
}
//Styles for Home

.historian-side {
  left: 42px;
}

.side-admin {
  position: absolute;
  bottom: 20px;
  left: 58px;
}

.admin-link {
  display: none;
  position: absolute;
  right: 10px;
}

.header {
  height: 400px;
  width: 100%;
  background-image: url(/assets/img/őzbak.jpg);
  background-size: 700px;
  background-position: center;
  // background-attachment: fixed;
  box-shadow: $primary-shadow;
  z-index: 0;
}

.h-logo {
  width: 50%;
  position: absolute;
}

.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 0;
  background-color: $secondary-gray;
  top: 348px;
  width: 100px;
  height: 100px;
  right: 20px;
  border-radius: 100px;
  box-shadow: $primary-shadow;
}

.main {
  background-image: url(/assets/img/tűzfa.jpg);
  background-size: 100%;
  background-attachment: fixed;
  font-family: $main-font;
}

.card-container {
  position: relative;
  z-index: 0 !important;
}

.about {
  background-color: $main-gray;
  box-shadow: $primary-shadow;
  height: 370px;
  z-index: 0;
  position: relative;
  color: $text-white;
  margin: 0 auto;
}

.about-title {
  text-shadow: $secondary-shadow;
  margin: 20px 0 20px 12px;
}

.about-desc {
  margin-left: 12px;
}

.ring {
  position: absolute;
  top: -45px;
  left: 450px;
  width: 80px;
}
.ring2 {
  position: absolute;
  top: -45px;
  left: 300px;
  width: 80px;
}

.myself {
  display: none;
  position: absolute;
  border-radius: 150px;
  top: -30px;
  right: 30px;
  box-shadow: $secondary-shadow;
}

.article-container {
  position: relative;
  z-index: 0 !important;
}

.contact {
  background-color: $main-gray;
  box-shadow: $primary-shadow;
  height: 290px;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  .contact-title {
    color: $text-white;
    text-align: center;
    padding-top: 20px;
  }
  [class^="contact-icon"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon-container {
    margin-top: 60px;
  }
}

[class$="-con"] {
  color: $text-white !important;
  width: 80px;
  height: 80px;
  opacity: 90%;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  border-radius: 10px;
  box-shadow: $secondary-shadow;
}
.linkedin-con {
  background-color: rgb(29, 161, 243);
}
.facebook-con {
  background-color: rgb(59, 89, 153);
}
.instagram-con {
  background-image: linear-gradient(rgb(182, 0, 0), rgb(169, 93, 172));
}

[class$="-con"]:hover {
  opacity: 100%;
}

.footer {
  display: flex;
  background-color: $main-gray;
  font-family: $secondary-font;
  margin: 0;
  height: 55px;
  align-items: center;
  color: $text-white;
  z-index: 1;
  box-shadow: $secondary-shadow;
}
//Styles for Image Card Container
.item-card--container {
  background-image: linear-gradient($main-orange, $main-gray);
  background-attachment: fixed;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  box-shadow: $secondary-shadow;
  justify-content: center;
  align-items: center;
  [class^="gallery-"] {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: $text-white;
  }
  .image-card {
    margin: auto;
  }
}
//Styles for Image Card
.card-img {
  width: 100%;
  box-shadow: $secondary-shadow;
}

.cards {
  border: none;
  background-color: transparent;
  color: $text-white;
}
.card-header {
  background-color: transparent;
  border: none;
}
//Styles for Article Card Container
.article-card--container {
  background-image: linear-gradient($main-gray, $main-orange);
  box-shadow: $primary-shadow;
  background-attachment: fixed;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
  .article-cards {
    margin: 10px auto;
  }
  .articles-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: $text-white;
  }
}
//Styles for Article Card
.article-card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 20px $secondary-gray;
  color: $text-white;
  height: 500px;
  align-items: center;
  padding: 10px 0 10px 0;
  .art-img-container {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 90%;
    .article-img {
      max-height: 150px;
      box-shadow: $secondary-shadow;
    }
  }
  .article-title {
    text-align: center;
    font-size: 1px;
    margin: 10px 0px;
  }
  .article-abstract {
    height: 150px;
    text-align: center;
    overflow: hidden;
  }
  .readm-btn {
    color: $main-orange;
    margin-top: auto;
    text-decoration: none;
    background-color: $main-gray;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 90%;
    padding: 5px 5px;
    transition: background-color 200ms;
  }
  .readm-btn:hover {
    opacity: 100%;
    background-color: $secondary-gray;
  }
}

//Styles for Image Viewer
.image-viewer {
  height: 100vh;
  width: 100vw;
  align-items: center;
  overflow: hidden;
  background-color: $main-gray;
  .home-btn {
    color: $main-orange;
    margin: 10px 0;
    padding: 5px 5px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 90%;
    transition: background-color 200ms;
    z-index: 1;
  }
  .home-btn:hover {
    opacity: 100%;
    background-color: $secondary-gray;
  }
  .viewer {
    width: 80%;
    justify-content: center;
    position: relative;
  }
}
.img-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 700px !important;
  background-color: transparent;
  will-change: opacity;
  transition: opacity 0.3s;
  z-index: 0;

  .viewer-img {
    width: 100%;
    border-radius: 7px;
    box-shadow: $secondary-shadow;
  }
}
.control-group {
  display: flex;
  position: relative;
  margin-top: 240px;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

[class$="arrow"] {
  font-size: 25px;
  color: $main-orange;
  position: absolute;
  opacity: 50%;
}
.right-arrow {
  padding: 400px 20px 400px 100px;
  right: 0px;
}

.left-arrow {
  padding: 400px 100px 400px 20px;
}

[class$="arrow"]:hover {
  cursor: pointer;
  opacity: 100% !important;
}

.selected {
  opacity: 1;
  transition: 1s;
}
//Styles for Login
.login-container {
  background-image: linear-gradient(45deg, $main-orange, $text-white);
  width: 100vw;
  height: 100vh !important;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  .login-nav {
    position: absolute;
    top: 50px;
    left: 0px;
    font-size: large;
  }
  .woods {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 0;
    // opacity: 70%;
  }
  .login {
    position: relative;
    background-color: $main-gray;
    color: $text-white;
    width: 400px;
    // width: 480px;
    height: 250px;
    align-items: center;
    // opacity: 70%;
    .login-title {
      color: $main-gray;
      position: absolute;
      top: -150px;
      left: 100px;
      font-size: 200px;
    }
    .input-group {
      width: 370px;
      // width: 400px;
      margin: 8px auto;
      z-index: 1;
      .input-label {
        margin: 5px 0;
        color: $text-white;
      }
      .input-control {
        color: $text-white;
        margin: 0 0;
        background-color: transparent;
        border: transparent;
        border-bottom: 1px solid gray;
        height: 40px;
        outline: transparent;
        transition: border 300ms;
      }
      .input-control:focus {
        border-bottom: 1px solid $main-green;
      }
    }
    .login-btn {
      background-color: $main-orange;
      color: $text-white;
      margin: 10px auto;
      width: 370px;
      z-index: 1;
      .load-icon {
        line-height: 9px;
        animation: rotate 1s linear infinite;
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//Style for Admin
.side-img {
  display: none;
  position: fixed;
  top: 0;
  opacity: 20%;
  box-shadow: 0 0 90px black;
}
.admin-sidenav {
  background-color: rgba(250, 250, 250, 0.7);
}
.sidenav-bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 20% !important;
}
.side-log-out {
  position: absolute;
  bottom: 20px;
  left: 58px;
}
.log-out {
  display: none;
  position: absolute;
  right: 10px;
}

//Style for Tables
.table-container {
  font-family: $secondary-font;
  width: 100vw;
  margin: 60px 0;
  padding: 0;
  .search-area {
    margin: 20px 10px;
    .search-label {
      margin: auto 10px;
      color: $secondary-gray;
    }
    .search-input {
      width: 170px;
      background-color: transparent;
      outline: transparent;
      border: none;
      border-bottom: 1px solid grey;
      border-radius: 2px;
      transition: border 300ms;
    }
    .search-input:focus {
      border-bottom: 1px solid $main-green;
    }
  }
  .plus-btn {
    width: 100%;
    background-color: $main-green;
    color: $text-white;
    margin: 0 auto;
    opacity: 80%;
  }
  .plus-btn:hover {
    opacity: 100%;
  }
  .pop-up {
    display: none;
  }
  .the-table {
    width: 100%;
    margin: 10px auto;
    .table-head {
      padding: 10px;
      color: $text-white;
      background-color: $secondary-gray;
      th {
        padding: 10px 0;
        text-align: center;
      }
    }
    //for not mat-table
    // .table-body {
    //   color: $secondary-gray;
    //   overflow: hidden;
    .table-row {
      overflow: hidden;
      height: 81px;
      td {
        text-align: center;
        overflow: hidden !important;
      }
      .list-img {
        width: 80px;
      }

      .group-btn {
        width: 100px;
        margin-left: 30px;
        border: none;
        [class^="btn"] {
          border: none;
          width: 50%;
          height: 40px;
          color: $text-white;
          opacity: 80%;
        }
        .btn-edit {
          border-radius: 5px 0px 0px 5px;
          background-color: $edit-blue;
        }
        .btn-delete {
          border-radius: 0px 5px 5px 0px;
          background-color: rgb(236, 47, 47);
        }
        [class^="btn"]:hover {
          opacity: 100%;
        }
      }
    }
    .table-row:nth-child(even) {
      background-color: $text-white;
    }
    // }
  }
}
.popped {
  display: block !important;
}
//Style for Forms
.b-nav-item {
  list-style: none;
  margin-left: 2px;
  a {
    text-decoration: none;
  }
}
.form-container {
  font-family: $secondary-font;
  font-size: small;
  width: 100% !important;
  height: 80vh !important;
  padding: 0;
  right: 0;
  top: 70px;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: fadein 0.5s;

  .modal-bg {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $nav-bg-color;
  }
  .form {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    overflow: scroll;
    .close {
      position: absolute;
      right: 0;
      top: 0;
      color: rgb(236, 47, 47);
      opacity: 90%;
      z-index: 1;
    }
    .close:hover {
      cursor: pointer;
      opacity: 100%;
    }
    form {
      display: flex;
      align-items: center;
      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        .input-label {
          margin: 28px 0;
        }
        .image-label {
          margin-top: 28px;
          margin-bottom: 5px;
        }
        .input-control {
          margin: 6px 0;
          width: 90%;
          border: none;
          outline: none;
          border-bottom: 1px solid rgb(200, 200, 200);
          border-radius: 2px;
          transition: border 300ms;
        }
        .input-control:focus {
          border-bottom: 1px solid $main-green;
        }
      }
      .upload-btn {
        border: none;
        background-color: $main-green;
        color: $text-white;
        opacity: 90%;
        width: 100%;
        margin-top: auto;
        margin-bottom: 50px;
      }
      .upload-btn:hover {
        opacity: 100%;
        cursor: pointer;
      }
      .submit-btn {
        width: 98%;
        position: fixed;
        bottom: 5px;
        background-color: $edit-blue;
        color: $text-white;
      }
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.file-input {
  margin-top: 20px;
}
.error {
  border-bottom: 1px solid rgb(236, 47, 47) !important;
}

.error-message {
  width: 100%;
  font-style: italic;
  font-size: 0.8em;
  color: rgb(155, 4, 4);
  overflow: hidden;
  position: absolute;
  animation: error 1s 1;
}

.progress {
  max-width: 450px !important;
}

@keyframes error {
  0% {
    right: -300px;
  }
  25% {
    right: -15px;
  }
  50% {
    right: -50px;
  }
  100% {
    right: 0;
  }
}

@media screen and (min-width: 600px) {
  //Styles for Home
  .header {
    background-size: 100%;
  }
  .logo-container {
    top: 325px;
    width: 150px;
    height: 150px;
    right: 50px;
  }
  .about {
    height: 340px;
  }
  .myself {
    display: initial;
    width: 130px;
  }
  .contact {
    .contact-icon-container {
      margin-top: 40px;
    }
  }
  [class$="-con"] {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  //Styles for Image Viewer
  .img-container{
    top: -220px;
  }
  .control-group{
    top: -220px;
  }
  //Styles for Login
  .login-container {
    .login-nav {
      left: 50px;
    }
    .login {
      width: 480px;
      .login-title {
        left: 140px;
      }
      .input-group {
        width: 400px;
      }
      .login-btn {
        width: 400px;
      }
    }
  }
  //Styles for Forms
  .form-container {
    top: 70px;
    .form {
      height: 550px;
      width: 550px;
      overflow: hidden;
      .input-group {
        align-items: start !important;
      }
      .upload-btn {
        margin-bottom: 0;
      }
      .submit-btn {
        position: absolute !important;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  //Styles for Home
  .admin-link {
    display: block;
  }

  .historian {
    width: 80px;
  }
  .logo-container {
    top: 300px;
    width: 200px;
    height: 200px;
    right: 70px;
  }

  .about {
    .myself {
      width: 190px;
    }
  }

  [class$="-con"] {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  //Styles for Article Card
  .article-img {
    width: 100%;
    max-height: auto !important;
  }
  //Styles for Image Viewer
  .img-container{
    top: 0;
  }
  .control-group{
    top: 0;
  }
  //Styles for tables
  .group-btn {
    margin-left: 60px !important;
  }
}

@media screen and (min-width: 1200px) {
  //Styles for Home and Admin
  .top-nav-navbar {
    display: flex !important;
    flex-direction: row;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidenav-drawer {
    display: none !important;
  }
  //Styles for Home
  .header {
    background-position-y: 710px;
  }
  .about {
    .myself {
      width: 230px;
    }
  }
  //Styles for Image Viewer
  .viewer-img {
    height: 100%;
    width: auto !important;
  }
  //Styles for Admin
  .side-img {
    display: flex;
  }
  .log-out {
    display: block;
  }
  //Style for Tables
  .table-container {
    width: 70vw;
    margin: 100px 30px 0 0 !important;
    margin-top: 60px;
    padding: 0;
  }
  //Style for Forms
  .form-container {
    top: 0;
    width: 70vw;
    margin: 70px 0;
    padding: 0;
  }
}
