<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin/'+ 'articles']">Articles</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editor</li>
            </ol>
        </nav>
        <div *ngIf="article" class="col-6 offset-3">
            <form #articleForm="ngForm" (ngSubmit)="onUpdate(articleForm, article)">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" [(ngModel)]="article.title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="abstract">Abstract</label>
                    <input name="abstract" type="text" [(ngModel)]="article.abstract" class="form-control">
                </div>

                <div class="form-group">
                    <label for="link">Link</label>
                    <input name="link" type="text" [(ngModel)]="article.link" class="form-control">
                </div>
                <div class="form-group">
                    <label class="mr-5" for="photo">Photo</label>
                    <img src="{{article.photo}}" alt="{{article.photo}}" style="width: 200px;">
                    <input [hidden]="article" name="photo" type="text" [(ngModel)]="article.photo" class="form-control"
                        readonly>
                </div>
                <div>
                    <label>
                        <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
                    </label>

                    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                        Upload
                    </button>
                    <div *ngIf="currentPhoto" class="progress mt-2">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                            attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{ width: percentage + '%' }">
                            {{ percentage }}%
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info col">
                    <i class="fa fa-save"></i>
                </button>
            </form>
        </div>
    </div>
</div>